/patch_atmos_standard.zip
/patch_yuzu_standard.zip
/patch_atmos_restored.zip
/patch_yuzu_restored.zip
/data/
/script_jp.rb
/script_replace.rb
/script_replace_out.rb
/announce.md
/mods
/UminekoCatboxEnglish
/UminekoCatboxChinese
/romfs
/romfs_standard
/romfs_restored